:root {
  /* Gray color palette */
  --gray-100: #eeeeee;
  --gray-300: #dddddd;
  --gray: #cccccc;
  --gray-700: #bbbbbb;
  --gray-900: #333333;

  /* Primary color palette */
  --primary-300: #ecfdf9;
  --primary: #4abdac;
  --primary-700: #00aa92;
  --primary-text: #dfdce3;

  /* Secondary color palette */
  --secondary-300: #ff6c5f;
  --secondary: #fc4a1a;
  --secondary-700: #a20000;
  --secondary-text: #212121;

  /* Button color palette */
  --button: #f7b733;

  /* Height variables */
  --minHeight: 80vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
}
