:root {
  /* Gray color palette */
  --gray-100: #eeeeee;
  --gray-300: #dddddd;
  --gray: #cccccc;
  --gray-700: #bbbbbb;
  --gray-900: #333333;

  /* Primary color palette */
  --primary-300: #c576f6;
  --primary: #a020f0;
  --primary-700: #6c0ba9;
  --primary-text: #f8f8f8;

  /* Secondary color palette */
  --secondary-300: #f26561;
  --secondary: #ff210c;
  --secondary-700: #df000c;
  --secondary-text: #080808;

  /* Accent color */
  --accent: #ff00ff;

  /* Height variables */
  --minHeight: 80vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
}
